{% extends 'base.html' %}
{% block title %} Add {% endblock %}
{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h4 class="text-center my-3 pb-3">Добавить товар</h4>
                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                              action="{% url 'add' %}" method="POST">
                            {% include 'partial/add_edit.html' with button_text='Добавить' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}