{% extends 'base.html' %}
{% block title %} Main {% endblock %}
{% block content %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for category in categories %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h3 class="fw-bolder">{{ category.name }}</h3>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                 <div class="cart mt-4 align-items-center"> <a href="{% url 'category_edit' category.pk %}" class="btn btn-primary text-uppercase mr-2 px-4">Редактировать</a>
                                     <a href="{% url 'category_delete' category.pk %}" class="btn btn-danger text-uppercase mt-2 mr-2 px-4">Удалить</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}
    </div>
</div>
{% endblock %}