{% extends 'base.html' %}
{% block title %} Main {% endblock %}
{% block content %}
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Редактировать категорию</h4>
            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action="{% url 'category_edit' category.pk %}" method="POST">
              {% csrf_token %}
                  <label for="name"></label><input required name="name" value="{{ category.name }}" type="text" id="name" class="form-control" />
                  {% if category.description == None %}
                        <label for="cost"></label><input name="description" type="text" id="cost" class="form-control" />
                  {% else %}
                        <label for="cost"></label><input name="description" value="{{ category.description }}" type="text" id="cost" class="form-control" />
                  {% endif %}
              <div class="col-3">
                <button type="submit" class="btn btn-primary mt-4">Редактировать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}